<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
	<title>Demo App</title>
	<link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	  rel="stylesheet">
	<link rel="stylesheet" href="main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
</head>

<body ng-app="DemoApp" ng-controller="DemoAppController as $ctrl">

	<demo-toolbar></demo-toolbar>

	<main class="demo-app__content">

		<label for="use_mocks" class="button button--secondary">
			<input type="checkbox" id="use_mocks" ng-model="$ctrl.status.mock_calls" ng-change="$ctrl.getValidCredentials()">
			<i class="material-icons done">done</i>
			<i class="material-icons clear">clear</i>
			Mock http calls
		</label>

		<div>
			<h3>Valid Credentials</h3>

			<ul ng-if="!$ctrl.status.mock_calls">
				<li>david - fregoli</li>
				<li>admin	- password</li>
				<li>username - password</li>
			</ul>

			<ul ng-if="$ctrl.status.mock_calls">
				<li>admin	- password</li>
			</ul>

		</div>

	</main>

	<login-modal></login-modal>

	<script src="main.js"></script>

</body>

</html>
