<div class="login-modal" ng-if="$ctrl.status.show_modal">
	<form name="loginform" ng-submit="loginform.$valid && $ctrl.login()" autocomplete="off" novalidate>

		<fieldset ng-disabled="$ctrl.status.is_loading" ng-if="!$ctrl.status.errorMessage">
			<h2>Login</h2>

			<input class="login-modal__field" pattern="^[^,.\\]*$" ng-model="$ctrl.username" placeholder="Username" type="text" name="username" required />
			<p ng-show="loginform.$submitted || loginform.username.$touched" class="login-modal__validation-message">
		      <span ng-show="loginform.username.$error.required">This field cannot be empty.</span>
		      <span ng-show="loginform.username.$error.pattern">This field cannot contain these characters <strong>, . \</strong></span>
		    </p>

			<input class="login-modal__field" pattern="^[^,.\\]*$" ng-model="$ctrl.password" placeholder="Password" type="password" name="password" required />
			<p ng-show="loginform.$submitted || loginform.password.$touched" class="login-modal__validation-message">
		      <span ng-show="loginform.password.$error.required">This field cannot be empty.</span>
		      <span ng-show="loginform.password.$error.pattern">This field cannot contain these characters <strong>, . \</strong></span>
		    </p>

			<div class="login-modal__actions">
				<input class="button -right" type="submit" value="Login">
				<input class="button button--secondary" type="button" value="Cancel" ng-click="$ctrl.toggleModal()">
			</div>
		</fieldset>

		<h2 ng-if-start="$ctrl.status.errorMessage">Login Error</h2>
		<p class="login-modal__message">{{ $ctrl.status.errorMessage }}</p>
		<div ng-if-end class="login-modal__actions">
			<button class="button -right" ng-click="$ctrl.resetErrorMsg()">Try again</button>
		</div>

	</form>
</div>
