body {
    font-family: 'Roboto';
}

body * {
    font-family: 'Roboto';
}

h2 {
    font-size: 35px;
    text-transform: uppercase;
}

h3 {
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
}

demo-toolbar {
    color: white;
    padding: 14px;
    display: block;
    background-color: #3F51B5;
}

#use_mocks {
    display: none;
}

#use_mocks ~ i {
    float: left;
    font-weight: 700;
    margin-right: 6px;
    line-height: 36px;
}

#use_mocks ~ i.done {
    display: none;
    color: #009688;
}

#use_mocks ~ i.clear {
    color: #D50000;
}

#use_mocks:checked ~ i.done {
    display: block;
}

#use_mocks:checked ~ i.clear {
    display: none;
}

.demo-app__content {
    padding: 14px;
    line-height: 22px;
}

.demo-app__content label {
    float: right;
    display: block;
    cursor: pointer;
    // font-size: 22px;
    // line-height: 34px;
}

.button {
    outline: none;
    border: 0;
    height: 36px;
    color: white;
    cursor: pointer;
    padding: 0 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    border-radius: 2px;
    letter-spacing: normal;
    text-transform: uppercase;
    background-color: #FF4081;
    transition: all .2s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14);
}

.button--secondary {
    background-color: #3F51B5;
}

.button:active {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14);
}

.button:disabled {
    cursor: wait;
    box-shadow: none;
    background-color: #CCCCCC;
}

.demo-toolbar__status {
    line-height: 36px;
}

.demo-toolbar__status i {
    float: left;
    line-height: 36px;
    margin-right: 6px;
}

.login-modal {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
}

.login-modal form {
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 38px;
    position: fixed;
    background: white;
    transform: translate(-50%, -50%);
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14);
}

.login-modal__actions {
    margin-top: 60px;
}

.login-modal__field {
    border: 0;
    width: 100%;
    outline: none;
    padding: 4px 0;
    display: block;
    line-height: 18px;
    margin: 36px 0;
    border-bottom: 1px solid #CCCCCC;
}

.login-modal__field.ng-dirty:focus, .login-modal__field.ng-invalid.ng-untouched:focus, .login-modal__field.ng-valid {
    color: #3F51B5;
    border-color: #3F51B5;
}

.login-modal__field:disabled {
    cursor: wait;
    color: #CCCCCC;
    border-color: #CCCCCC;
    background-color: transparent;
}

.login-modal__field.ng-dirty.ng-invalid {
    border-color: #D50000;
}

form.ng-submitted .login-modal__field.ng-invalid {
    border-color: #D50000;
}

.login-modal__validation-message {
    height: 12px;
    position: fixed;
    color: #D50000;
    font-size: 13px;
    line-height: 12px;
    margin-top: -30px;
}

.login-modal__validation-message strong {
    font-size: 14px;
    font-weight: 700;
}

.login-modal__message {
    margin-top: 24px;
}

.-right {
    float: right;
}

@media screen and (max-width: 400px) {
    .login-modal form {
        width: 240px;
        padding: 22px;
    }
}

@media screen and (max-width: 600px) {
    .demo-app__content label {
        float: none;
        bottom: 20px;
        position: fixed;
    }
}
