<button class="button -right" ng-if="!$ctrl.status.is_logged_in" ng-click="$ctrl.toggleModal()">Login</button>

<button class="button -right" ng-if="$ctrl.status.is_logged_in" ng-disabled="$ctrl.status.is_loading" ng-click="$ctrl.logout()">Logout</button>

<p ng-if="$ctrl.status.is_logged_in && !$ctrl.status.is_loading" class="demo-toolbar__status"><i class="material-icons">person</i> Logged in</p>

<p ng-if="$ctrl.status.is_logged_in && $ctrl.status.is_loading" class="demo-toolbar__status"><i class="material-icons">person</i> Logging out...</p>

<p ng-if="!$ctrl.status.is_logged_in && !$ctrl.status.is_loading" class="demo-toolbar__status"><i class="material-icons">person</i> Logged out</p>

<p ng-if="!$ctrl.status.is_logged_in && $ctrl.status.is_loading" class="demo-toolbar__status"><i class="material-icons">person</i> Logging in...</p>
